<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <%- include('../partials/head'); %>
</head>
<style>
    .bkground {
        background-color: aquamarine;
    }
</style>

<body class="container bkground">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Main Bootstrap Topics</h1>
            <p>
                <%= tagline %>
            </p>
            <ul>
                <% bootstraps.forEach(function(bootstraps) { %>
                    <li>
                        <strong>
                            <%= bootstraps.name %>
                        </strong>
                        Source: <%= bootstraps.organization %>, born <%= bootstraps.birth_year %>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>